html,
body,
#app {
  background-color: #eee;
}

.dashboard {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-ws {
  display: flex;
  justify-content: center;
}

.flex-hc {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1
}